h1{
    line-height: 1;
    width: 20%;
    margin-top: 10px;
    margin-left: 550px;
    font-family: 'Oswald', sans-serif;
    font-size: 600%;
    color: #1b262c;

    
}
h2 {
    font-family:  'Oswald', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    
    color: #3282b8;
}

.escucharmusica{
    font-family:  'Oswald', sans-serif;
    font-size: 50px;
    color: #1b262c;

}

.Musica{
    border-radius: 0px;
}

.top-cloud {
  
    position: relative;
    margin-left: 50px;
}



.middle-container {
    margin-top: 200px;
    color: #0f4c75;
}



.top-container {
    background-color: #bbe1fa ;
    padding-top: 50px;

}

.contact-me{
    margin-bottom: 100px;
    background-color:  #1b262c;
    font-family:  'Oswald', sans-serif;
    font-size: 50px;
  

}


h3{
    font-family:  'PT Sans', sans-serif;
    font-size: 40px;
    color: #1b262c;
}











hr {

    border-style: dotted none none;
    
    width: 4%;
    border-width: 5px;
    color: #1b262c;
    clear: left;
    margin: 100px auto 100px ;
}
.photo{
    width:200px;
    height:200px;
    border-radius:150px;
    border:10px solid #666;
}





.bottom-container {
    background-color:  #1b262c;;
}

body{
    background-color: #0f4c75;
    margin: 0;
    text-align: center;
    color: black;
    font-family: 'Montserrat';
}
.bottom-cloud{
    position: absolute;
    left: 500px;
    bottom: 30%px;
    margin-left: 50px;
    margin-top: 50px;

}

p{
    line-height: 2;
}





.btn {
    background: #11cdd4;
    border-radius: 8px;
    font-family: 'PT Sans', sans-serif;
    color: #1b262c;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 100px;
  }


  .bottom-container{
      background-color: #66BFBF;
      padding: 50px 0 20px;
  }
  a{
      color: #11999E;
      font-family: 'PT Sans', sans-serif;
      margin: 10px 20px;
      text-decoration: none ;
  }


  .copyright{
    padding: 20px 0px ;
    font-family: 'PT Sans', sans-serif;
    color: #1b262c;
    font-size: 0.75rem;
  }